<!DOCTYPE html>
<html>
<head>
    <title>Chamboulle tout</title>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
<div id="glob" align="center">
    <h1>Chamboulle tout!!</h1>
    <table>
        <tr>
            <td>

            </td>
            <td>
                <input type="checkbox" value="1" v-model="checked" v-on:click="check">
            </td>
            <td>

            </td>
        </tr>
        <tr>
            <td colspan="3">
                <table style="margin-left: 10px">
                    <tr>
                        <td>
                            <input type="checkbox" value="2" v-model="checked" v-on:click="check">
                        </td>
                        <td>
                            <input type="checkbox" value="3" v-model="checked" v-on:click="check">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <input type="checkbox" value="4" v-model="checked" v-on:click="check">
            </td>
            <td>
                <input type="checkbox" value="5" v-model="checked" v-on:click="check">
            </td>
            <td>
                <input type="checkbox" value="6" v-model="checked" v-on:click="check">
            </td>
        </tr>
    </table>
</div>

<script type="text/javascript">
    var chamboulletout = new Vue({
        el: '#glob',
        data: {
        	checked: [],
        	old : ''
        },
        methods: {
        	check : function(e){

        		var valeur = e.target.value;
        		var isChecked = e.target.checked;

        		if (this.old != valeur && isChecked === false) {
        			e.target.checked = true;
        		}

        		switch (valeur) {
  				case "1":
  					this.checked = [1];
    				break;
  				case "2":
  					this.checked = [2,1];
    				break;
  				case "3":
					this.checked = [3,1];
    				break;
  				case "4":
  					this.checked = [4,2,1];
    				break;
  				case "5":
  					this.checked = [1,2,3,4,5,6];
    				break;
  				case "6":
  					this.checked = [6,3,1];
    				break;
  				default:
  					this.checked = [];
        		}
        		
        		if(this.old == valeur && isChecked === false){
					this.checked = [];
				}

        		this.old = valeur;
        	}
    	}
    })
</script>

</body>
</html>